# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# IntelliJ / IDE
# =========================
.idea/
*.iml
*.ipr
*.iws

# =========================
# Maven / Java
# =========================
target/
*.log

# =========================
# Spring Boot
# =========================
logs/
*.pid

# =========================
# Environment / Secrets
# =========================
.env
application-qa.yml
application-prod.yml
application-dev.yml

# =========================
# Build tools
# =========================
node_modules/
